/**
  Default .css styling
*/

*{
  margin: 0;
  padding: 0;
}

.wrapper{
  width: 95%;
  margin: 0 auto;
}

h1{
  font-weight: bold;
  font-size: 2rem;
  text-transform: uppercase;
  line-height: 2rem;
}

h2{
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 5%;
  line-height: 1.5rem;
}

button{
  line-height: 2rem;
  padding: 0 5%;
}

/**
  Working time admin page
*/

#workingTime, p{
  font-size: 1.2rem;
}

#workingTime .row{
  line-height: 2rem;
  margin: 2% 0;
  width: 50%;
  display: block;
  overflow: hidden;
  text-align: center;
}

#workingTime .label{
  float: left;
  line-height: 2rem;
  margin-right: 1%;
  width: 49%;
  text-align: right;
}

#workingTime .select{
  width: 50%;
  text-align: left;
  line-height: 2rem;
  float: left;
}

#awebsIndex{
  display: grid;
  grid-template-columns: 1fr;
}

#awebsIndex > main{
  display: grid;
  grid-template-columns: 98%;
}

#awebsIndex > main p{
  text-align: justify;
}
