/**
  Default .css styling
*/

*{
  margin: 0;
  padding: 0;
}

.wrapper{
  width: 95%;
  margin: 0 auto;
}

#workingTime h1{
  font-weight: bold;
  font-size: 2rem;
  text-transform: uppercase;
  line-height: 2rem;
}

#workingTime h2{
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 5%;
  line-height: 1.5rem;
}

#workingTime button{
  line-height: 2rem;
  padding: 0 5%;
}

/**
  Working time admin page
*/

#workingTime, p{
  font-size: 1.2rem;
}

#workingTime .row{
  line-height: 2rem;
  margin: 2% 0;
  width: 50%;
  display: block;
  overflow: hidden;
  text-align: center;
}

#workingTime .label{
  float: left;
  line-height: 2rem;
  margin-right: 1%;
  width: 49%;
  text-align: right;
}

#workingTime .select{
  width: 50%;
  text-align: left;
  line-height: 2rem;
  float: left;
}

/*
  awebsIndex css styles
*/

#awebsIndex{
  display: grid;
  grid-template-columns: 1fr;
  overflow: hidden;
}

#awebsIndex h1{
  font-weight: bold;
  font-size: 2rem;
  text-transform: uppercase;
  line-height: 2rem;
}

#awebsIndex h2{
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 5%;
  line-height: 1.5rem;
}

#awebsIndex button{
  line-height: 2rem;
  padding: 0 5%;
}

#awebsIndex > main{
  display: grid;
  grid-template-columns: 98%;
}

#awebsIndex > main p{
  text-align: justify;
}

/*
  Food Categories css styles
*/

#foodCategories{
  display: grid;
  grid-template-columns: 1fr;
  overflow: hidden;
}

#foodCategories h1{
  font-weight: bold;
  font-size: 2rem;
  text-transform: uppercase;
  line-height: 2rem;
}

#foodCategories h2{
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 5%;
  line-height: 1.5rem;
}

#foodCategories button{
  line-height: 2rem;
  padding: 0 5%;
}
